# Eclipse
.settings/

# Maven
log/
target/

# Local build and test scripts
/build/
/dist/
/.cache/
bin/

*.class
*.log
hs_err_pid*
.DS_Store

# xterm.js packages, copied to the web folder of the bundle
/xterm/node_modules/
