<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category id="org.eclipse.xterm4eclipse.category" name="Xterm"/>
      <view
            id="org.eclipse.xterm4eclipse.view"
            name="Xterm"
            category="org.eclipse.xterm4eclipse.category"
            class="org.eclipse.xterm4eclipse.XtermView"
            icon="icons/xterm.png"
            allowMultiple="true"
            restorable="true"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="*">
         <viewShortcut id="org.eclipse.xterm4eclipse.view"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="org.eclipse.xterm4eclipse.preferences"
            name="Xterm Terminal"
            class="org.eclipse.xterm4eclipse.XtermPreferencePage"/>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category id="org.eclipse.xterm4eclipse.commands" name="Xterm"/>
      <command
            id="org.eclipse.xterm4eclipse.open"
            categoryId="org.eclipse.xterm4eclipse.commands"
            name="Open an Xterm Terminal"
            description="Opens a new Xterm terminal running the default shell"/>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.xterm4eclipse.open"
            class="org.eclipse.xterm4eclipse.OpenTerminalHandler"/>
   </extension>
   <extension point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.xterm4eclipse.open"
            icon="icons/xterm.png"/>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.xterm4eclipse.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+X"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.xterm4eclipse.showIn"
               label="Show in Xterm"
               icon="icons/xterm.png">
            <dynamic
                  id="org.eclipse.xterm4eclipse.showIn.shells"
                  class="org.eclipse.xterm4eclipse.ShowInXtermMenu"/>
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1"/>
                  <iterate ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource"/>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="org.eclipse.xterm4eclipse.toolbar">
            <command
                  commandId="org.eclipse.xterm4eclipse.open"
                  style="push"/>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
